.banner {
  background-image: url("../../image/cyclist.png");
  color: white;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}
.banner-text {
  color: white;
  font-weight: bolder;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  background-color: black;
  color: white;
}

.additional h4 {
  color: MediumTurquoise;
}
.about {
  background-color: #f0f1f7;
}
.about h5 {
  color: rgb(90, 87, 87);
  font-style: oblique;
}
.about h4 {
  color: #3e7c83;
}
.about h2 {
  font-style: oblique;
}
.box {
  background-color: #222222;
  color: white;
}

.box-parent {
  position: relative;
}
.box {
  position: absolute;
  top: -130px;
}
@media (max-width: 940px) {
  .box {
    display: none;
  }
}
