.btn {
  background-color: black;
  box-shadow: 0 8px rgb(166, 164, 164);
  transform: translateY(4px);
  border-radius: 10px;
}
.btn:hover {
  color: white;
}
.card-body h5 {
  color: black;
}
.service-icon {
  color: black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgb(68, 68, 26);
  border-left: 4px solid rgb(68, 68, 26);
}
.sale {
  background-color: rgb(32, 31, 31);
  color: white;
}
