.btn {
  background-color: black;
  box-shadow: 0 8px rgb(166, 164, 164);
  transform: translateY(4px);
}
.btn:hover {
  color: white;
}
.card-body h5 {
  color: black;
}
.service-icon {
  color: black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
