.footer
{
    color: white;
   background-color: #222222; 
}
.f
{
    color: #8abaf9 !important;
    width:50px;
}
.y
{
    color: #ff2727 !important;
    width:50px;
}
.t
{
    color: #c42ea4 !important;
    width:50px;
}
.g
{
    color: #bebebe !important;
    width:50px;
}
.insta
{
    color: #bebebe !important;
    width:50px;
}
.fab
{
    color:white;
    width:30px; 
}